.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: lightcoral;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: lightgreen;
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: lightseagreen;
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  color: black;
  cursor: pointer;
}
